<ion-router-outlet></ion-router-outlet>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="led">
      <ion-icon name="sunny-outline"></ion-icon>
      <ion-label>LED</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tv">
      <ion-icon name="tv"></ion-icon>
      <ion-label>TV</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="all">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>All</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
