<div>
  <ion-item style="padding-top: 10px;" lines="full">
    <h3 style="width: 100%;text-align: center;">Add a new device</h3>
  </ion-item>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Name</ion-label>
      <ion-input placeholder="Type device name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input placeholder="0.0.0.0"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Description</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-row style="padding-top: 30px">
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Add</ion-button>
      </ion-col>
    </ion-row>
  </form>
</div>
